.clock {
  border-radius: 70px;
  border: 3px solid rgb(63, 185, 93);
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}

.clock:after {
  content: "";
  position: absolute;
  background-color: rgb(63, 185, 93);
  top: -20%;
  left: 50%;
  height: 10px;
  width: 1px;
  border-radius: 2px;
  -webkit-transform-origin: 50% 97%;
  transform-origin: 50% 97%;
  -webkit-animation: grdAiguille 2s linear infinite;
  animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes grdAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clock:before {
  content: "";
  position: absolute;
  background-color: rgb(63, 185, 93);
  top: -20%;
  left: 50%;
  height: 10px;
  width: 1px;
  border-radius: 5px;
  -webkit-transform-origin: 50% 94%;
  transform-origin: 50% 94%;
  -webkit-animation: ptAiguille 12s linear infinite;
  animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ptAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
